@import url(./normalize.css);

:root {
  font-size: 62.5%; /* To turn 1rem into 10px */
  --green-color: #44b88e;
  --red-color: rgb(255 0 0 / 75%);
  --light-black-color: #393939;
  --gray-bg-color: #eee;
  --lighter-gray-bg-color: #f7f7f7;


  --shadow: 1px 2px 4px rgb(0 0 0 / 51%);
}

* :not(.modal-content){
  box-sizing: border-box;
}

p, h1 {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 1.8rem;
  margin: 0;
}

li {
  cursor: pointer;
  opacity: 0.95;
  transition: all 0.15s;
  user-select: none;
}

li:hover {
  text-decoration: underline;
  transform: scale(1.05);
  opacity: 1;
  text-underline-offset: 2px;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.6rem; /* To turn 1rem into 10px */
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: fit-content(10%) auto;
}

.container > header {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  background-color: var(--green-color);
  position: relative;
}

.left {
  display: flex;
}

.top img, [type="image"] {
  width: min(5vmin,40px);
  cursor: pointer;
  transition: all 250ms;
}

.left .logo {
  width: min(7vmin,55px);
}

.left div:last-child {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  position: relative;
}

[for="searchID"] {
  position: absolute;
  left: 8px;
}

#searchID {
  background-color: #ffffff3b;
  color: white;
  border: none;
  outline: none;
  padding: 5px 0 5px 3.2rem;
  border-radius: 4px;
  text-transform: capitalize;
}

#searchID::placeholder {
  opacity: .9;
  color: rgb(255, 255, 255);
}

.right {
  display: flex;
  gap: min(3vw, 1.5rem);
}

/* Modal box Form */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  min-height: 100vh;; /* Same height as container */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.48); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  border: 1px solid #888;
  width: 80%;
  max-width: 85rem;
  display: grid;
  grid-template-columns: max(20%, 70px) auto;
}

.modal-header {
  position: relative;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-color);
  padding: 1rem 2rem 1rem;
}

/* The Close modal button */
.close {
  color: var(--light-black-color);
  font-size: 22px;
  font-weight: bold;
}

.close:hover,
.close:focus,
[type="image"]:hover,
[type="image"]:focus {
  color: black;
  cursor: pointer;
  transform: scale(1.15);
}

.close:active, 
[type="image"]:active {
  transform: scale(1);
}

input {
  box-sizing: border-box
}

#submitForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem,1fr));
  gap: 2rem 1.5rem;
  padding: 2rem;
}

#submitForm > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#submitForm .btns, #noteForm .btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 1rem;
  align-self: flex-end;
}

#submitForm > div:nth-child(2) {
  grid-area: 2/1/5/2;
}

#description, #noteDescription {
  resize: vertical;
  min-height: 70px;
  height: 100%;
  max-height: 22rem;
}

input:focus:not(.right input), select:focus, textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

form input, #submitForm select, form textarea {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.modal-options {
  padding: 2rem;
  background-color: var(--gray-bg-color);
}

.btns > button {
  border-radius: 12rem;
  cursor: pointer;
  color: var(--green-color);
  border: solid 3px;
  border-color: var(--green-color);
  white-space: nowrap;
  background-color: rgb(255 255 255 / 3%);
  padding: 6px 16px;
}

.btns > .resetButton {
  color: var(--red-color);
  border-color: var(--red-color);
}

.btns > button:hover {
  color: white;
  background-color: var(--green-color);
  border-color: var(--green-color);
  transform: scale(1.05);
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.btns > .resetButton:hover {
  background-color: var(--red-color);
  border-color: var(--red-color);
}

#noteForm, #noteForm > div:not(.btns) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#noteForm {
  padding: 2rem;
  gap: 2rem;
  display: none;
}

#noteDescription {
  min-height: 120px;
}

.container > main {
  display: grid;
  grid-template-columns: min(35rem, 30%) 3fr;
}

.side-bar {
  padding: 2rem 3rem;
  background-color: var(--lighter-gray-bg-color);
} 

.side-bar ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 3px;
  padding: 3px 1px;
}

.side-bar ul li:hover {
  text-decoration: none;
  background-color: #fff;;
}

.selected {
  font-weight: bold;
}

#LibContainer {
  padding: 2rem;
}

.todo.shell {
  display: flex;
  border-radius: 3px;
  border: solid 1px transparent;
  border-bottom-color: #f0f0f0;
  justify-content: space-between;
  padding: 0.5em 1rem;
}

.todo.unchecked {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 3px;
  border: 2px solid var(--green-color);
  align-self: center;
}

.checked {
  background: url(/src/images/check.png), var(--green-color);
  background-repeat: no-repeat;
  background-size: contain;
}

svg {
  height: 16px;
  width: 16px;
}

.flagColor{
  fill: rgb(64, 115, 214);
}

.flagColor.yellowFlag{
  fill: #FAD02C;
}

.flagColor.redFlag{
  fill: #E32227;
}
